<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Our Website</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f9f9f9; padding: 20px;">

  <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
 <div style="text-align: center;color: #000;">
  <p style="font-size: 30px; font-weight: 500;margin: 0;">Đổi mật khẩu</p>
  <p style="font-size: 16px;margin: 0;">Bạn đã yêu cầu mật khẩu mới cho tài khoản của bạn</p>
 </div>
    <div  style="text-align: center;color: #000;">
      <p style="font-size: 30px; font-weight: 500;margin: 0;">{{otp}}</p>
    <p style="font-size: 14px;margin: 0;">
        Nếu bạn không yêu cầu điều này, xin vui lòng bỏ qua email này.Mật khẩu của bạn sẽ giữ nguyên cho đến khi bạn truy cập vào liên kết ở trên và tạo một mật khẩu mới.</p>
    </div>
  </div>

</body>
</html>
